<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="co.touchlab.android.demo"
      android:versionCode="1"
      android:versionName="1.0">
    <application android:label="@string/app_name" android:icon="@drawable/icon">
        <activity android:name="Drawables"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BasicShapes" android:label="Basic Shapes"/>
        <activity android:name=".Corners" android:label="Corners!"/>
        <activity android:name=".Gradients" android:label="Gradients!"/>
        <activity android:name=".StateLists" android:label="State Lists!"/>
        <activity android:name=".NinePatch" android:label="Nine Patch!"/>
        <activity android:name=".RelativeLayoutTest"/>
    </application>
</manifest> 
